.sl_cover {
    height: 2000px;
    width: 2000px;
    position: absolute;
    top:0;
    left:0;
    z-index:900;
}

.sl_slide {
      /*background-color:#ff0000;*/
      margin: 0;
      overflow: hidden;
      height: 350px;
      width: 450px;
      top: 1000px;
      left: 25px;
      position: absolute;
}
.sl_presentation {
      background-image: url('http://lateral.blogsite.org/static/slide-bg.gif');
      height: 400px;
      width: 500px;
      position: relative;
      overflow: hidden;
      border: solid;
      border-width: 1px;
      border-color:#eeeeee;
      margin: 0 auto 0 auto;
}
      
.sl_control {
      top: -100px;
      right: 0px;
      z-index: 1000;
      position: relative;
      height: 120px;
      /*background-color:#0000ff;*/
}

.sl_header {
      position: absolute;
      top: 5px;
      left: 25px;
      font-size: 75%;
      z-index:800;
}

.sl_footer {
      position: absolute;
      bottom: 5px;
      left: 25px;
      font-size: 20px;
      z-index:800;
      font-size: 75%;
}

