## -*- coding: utf-8 -*-
<%inherit file="pageSite.tmpl" />

<%def name="bodytitle()">
</%def>


<%def name="body()">
  % for post in postlist:
  <div class="yui-u postbox thinedge">
      <a name="${post.postID}"></a>
      <a href="${macros.getUrlForDay(post.pubDate)}">
      ${str(post.pubDate)}</a>
      % if post.link:
        <h2 class="postHeader"><a href="${post.link}">${post.title}</a></h2>
      % else:
        <h2 class="postHeader"><a name="${post.postID}"></a>
        ${post.title}</h2>
      %endif
      <div class="postBody">
          ${post.rendered}
          <div class="footerbox">
            <a href="${macros.weblogPermaLink(post)}">#</a>&nbsp;&bull;&nbsp;
            ${macros.haloScan.comments(post)}&nbsp;&bull;&nbsp;
            ${macros.haloScan.trackback(post)}&nbsp;&bull;&nbsp;
            ${macros.talkr.link(post)}
            % if post.link:
              &nbsp;&bull;&nbsp;<a class=reference href="${post.link}">Read More</a>
            %endif
            ${macros.feedBurner.flare(post)}<br>
            ${macros.delicious.tags(post)}<br>
            ${macros.addThis.bookmark(post)}
      </div>
    </div>
  </div>
  % endfor
  <div class="postbox" style="text-align: center; padding:0;">
    % if curPage > 0:
      <a href="${pagTempl%(curPage-1)}"}>More recent posts</a>&nbsp;&nbsp;
    % endif
    % if curPage < numPages-1:
      &nbsp;&nbsp;<a href="${pagTempl%(curPage+1)}"}>Older posts</a>
    % endif
  </div>
</%def>

