<py-for="cat in postlist">
        <py-exec="if progress: progress.step()">
    <div class="postbox thinedge">
        <h3><a href="<py-eval="macros.absoluteUrl(cat.myurl())">"><py-eval="cat.title"></a></h3>
        <py-eval="cat.description">
        <div class="footerbox">
            <py-eval="str(len(cat.posts))"> posts and <py-eval="str(len(cat.stories))"> stories in this category.
        </div>
    </div>
</py-for>
