<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html> 
<head> 
  <title><py-eval="title"></title>
  <py-exec="macros.addHead(macros.yahooGrids.head())">
  <py-exec="macros.addHead(macros.yahooCalendar.head())">
  <py-exec="macros.addHead(macros.yahooMenu.head())">
  <py-exec="macros.addHead(macros.haloScan.head())">
  <py-exec="macros.addHead(macros.mootools.head())">
  <py-exec="macros.addHead(macros.feedBurner.rssHead())">
  <py-exec="macros.addHead(macros.rstHead())">
  <py-eval="macros.insertHead()">
  <py-eval="macros.yahooCalendar.monthScriptTag(curDate)">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
        <div id="doc3" class="yui-t5">
                <div id="hd" class="header"><!-- header -->
                        <img src="<py-eval="macros.absoluteUrl('static/banner.png')">" ALT="Lateral Opinion">
                </div>  
                <div id="bd"><!-- body -->
                        <div id="yui-main"><!-- main column-->
                                <div class="yui-b">
                                        <py-eval="macros.yahooMenu.menuBar()">
                                        <py-if="bodytitle">
                                        <h2><py-eval="bodytitle"></h2>
                                        </py-if>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam pulvinar ullamcorper sem. Nam imperdiet, lacus ac vehicula dignissim, nulla magna consequat nisl, sit amet rutrum velit eros vel augue. Mauris et magna at nisl tincidunt auctor. Morbi eget elit id libero hendrerit consectetuer. Ut ut libero vel ipsum euismod congue. Vestibulum volutpat. Maecenas quis arcu eu magna tristique rhoncus. Praesent venenatis, libero in gravida malesuada, sem diam hendrerit ipsum, consequat fermentum mi est eget tortor. Sed eget ante. Curabitur nulla. Aenean dapibus lacus lacinia pede dignissim aliquet. Donec elit. Aenean ipsum orci, venenatis id, egestas eu, porta ut, ante. Suspendisse et neque non nisl interdum luctus. Nam urna. <p>
 Phasellus pellentesque tincidunt pede. Sed egestas urna eget erat. Duis ipsum turpis, lacinia ac, gravida et, posuere sed, dui. Fusce blandit pede. Praesent fermentum nunc et pede. Sed quis urna eu lectus ultricies vehicula. Integer nunc. Nam pede orci, tristique id, congue et, dignissim eu, metus. Proin vehicula, augue porttitor venenatis varius, libero nibh egestas sem, a nonummy dolor ligula in ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae purus nec tortor bibendum porta. Pellentesque mauris leo, egestas id, vulputate a, viverra non, eros. Fusce ultricies adipiscing neque. Donec fringilla fermentum pede. Cras a neque. Morbi tempor rutrum leo. Duis scelerisque, lectus nec ultricies ornare, augue ligula posuere risus, a molestie turpis nisi quis quam. Nullam imperdiet, ligula non tempus commodo, nunc ipsum aliquam nunc, ac placerat justo nibh tempus augue. Curabitur non ante eleifend nisl feugiat lobortis. <p>
 Aliquam in tortor. Donec bibendum enim vel magna. Aliquam eu diam. Phasellus mauris arcu, volutpat non, ultrices vel, gravida in, felis. Fusce purus. Vestibulum tempus venenatis est. Vivamus non est. Maecenas a sapien accumsan tellus iaculis posuere. Nunc et orci. Aenean metus ipsum, suscipit a, semper vel, auctor blandit, lacus. Phasellus mauris. Aenean consequat sem vel lectus. Aliquam erat volutpat. Donec faucibus nunc ac mi. Phasellus tempor. Duis cursus feugiat neque. Nunc sed metus. <p>
 Donec mauris augue, interdum eget, porttitor at, consectetuer eu, pede. Proin tempus. Suspendisse potenti. In consequat. Ut egestas accumsan libero. Cras et magna. Phasellus rhoncus vehicula elit. Aenean cursus neque nec arcu. Nulla ut diam a nunc suscipit consequat. Aliquam dictum feugiat dui. Morbi vehicula. Donec in risus. Sed dui. Suspendisse vehicula eleifend risus. Aenean augue quam, dictum ut, lobortis rutrum, tincidunt non, metus. Praesent massa ligula, rutrum at, feugiat id, feugiat a, lectus. In blandit. Donec mattis viverra sapien. Nulla eget tortor eu ligula molestie euismod. Cras vel est sit amet sapien consequat dapibus. <p>
 Etiam vehicula placerat arcu. Aenean eros dui, sagittis sit amet, lobortis non, sollicitudin sed, neque. Nulla tincidunt. Donec mauris erat, condimentum id, mattis eu, posuere eu, diam. Pellentesque porttitor, erat a ultricies rhoncus, mauris tellus consectetuer augue, nec vehicula neque est ac arcu. Aliquam enim mauris, venenatis non, imperdiet sit amet, hendrerit vitae, sem. Mauris aliquet. Pellentesque eleifend turpis vitae urna. Proin ullamcorper odio nec leo. Phasellus aliquet suscipit felis. Fusce rhoncus adipiscing leo. Cras non neque. <p>
 Proin a nisl. Vestibulum scelerisque erat at justo. Aliquam pretium, ipsum ut tristique molestie, diam enim semper urna, non volutpat nibh ipsum at eros. Quisque ullamcorper magna quis lacus. Etiam auctor placerat metus. Mauris iaculis mollis nulla. Morbi metus lectus, euismod in, rhoncus vel, imperdiet euismod, enim. Duis nec lorem. Duis sit amet enim eget arcu venenatis porttitor. Ut erat orci, dignissim id, rhoncus et, semper eget, justo. <p>
 Morbi libero pede, sodales ut, gravida eu, semper eget, leo. Ut fermentum interdum lacus. Sed pretium volutpat lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam mauris ante, hendrerit ac, euismod gravida, venenatis sed, nisi. Phasellus ultricies. Maecenas nec sem eget lorem malesuada tristique. Donec mollis, nisi nec imperdiet sodales, erat arcu sollicitudin magna, vitae congue nisl est vitae lacus. Pellentesque volutpat porta tellus. Integer quis est in magna fringilla nonummy. Nunc feugiat, metus eget laoreet sollicitudin, diam nunc euismod enim, nec lacinia ipsum pede eget magna. Morbi arcu odio, porttitor sit amet, feugiat pretium, porta vel, pede. Etiam nec eros. Quisque tincidunt justo et leo. Cras scelerisque dictum enim. <p>
 Fusce vel elit ut velit gravida convallis. Integer interdum dolor at arcu. Cras vitae nibh. In eleifend ante sodales arcu. Fusce aliquam, nisi eu suscipit adipiscing, ipsum magna interdum nibh, id mattis elit lectus eu lorem. Quisque varius iaculis nisi. Nam mauris lacus, viverra eu, venenatis ac, molestie quis, tellus. Aliquam condimentum mattis felis. Integer eu ligula at dui volutpat viverra. Nunc massa leo, molestie nonummy, varius eget, facilisis in, enim. <p>
 Vestibulum eu odio nec magna blandit vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Pellentesque varius. Phasellus luctus eros vel tortor. Mauris sagittis, ipsum quis dignissim nonummy, libero augue eleifend urna, ut pellentesque dui tellus vitae nibh. Vivamus congue. Curabitur nonummy elementum arcu. Cras nibh nisl, ornare eu, imperdiet id, rhoncus ut, felis. Pellentesque eu dui. Vestibulum pharetra sem id nulla. Integer iaculis ligula dignissim orci. Sed augue augue, cursus imperdiet, ultricies dignissim, luctus quis, mauris. <p>
 In hac habitasse platea dictumst. Vestibulum congue neque at felis. Phasellus auctor, erat at venenatis adipiscing, nisi dolor interdum risus, ut feugiat orci urna at mauris. Nam quis dolor pharetra urna tempor vestibulum. Nunc mollis. Nulla facilisi. Nunc sem arcu, luctus vitae, sodales vitae, pharetra posuere, elit. Curabitur aliquet fermentum turpis. Mauris elit justo, scelerisque vel, egestas id, pharetra vel, metus. Curabitur nisl urna, lobortis quis, gravida sed, tincidunt et, dolor. In vel est ut sem tristique placerat. Aenean sed purus.                                        <p>
 						<div id="ft" class="footer"><!-- footer -->
                                                <py-eval="macros.copyright()">
                                        </div>  
                                </div>
                        </div>
                        
                        <div class="yui-b"><!-- sidebar -->
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.mootools.menu()">
                                </div>
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.yahooCalendar.widget(curDate)">
                                </div>
                    
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.technorati.search()">
                                </div>
                    
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.chunk('blurb')">
                                </div>
                                
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.feedBurner.feedBox('CommentsForRalsina-Haloscancom')">
                                </div>
                                
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.technorati.favorites()">
                                </div>
                                
                                <div class="yui-g sidebox thinedge">
                                        <py-eval="macros.statCounter.chiclet()">
                                        <br>
                                        <py-eval="macros.talkr.chiclet()">
                                        <br>
                                        <py-eval="macros.haloScan.chiclet()">
                                        <br>
                                        <py-eval="macros.feedBurner.counter()">
                                        <br>
                                        <py-eval="macros.addThis.subscribe()">
                                </div>            
                        </div><!-- end of sidebar -->
                </div><!-- end of body -->    
        </div><!-- end of doc -->    
<py-eval="macros.chunk('google_analytics')">
<py-eval="macros.mootools.accordionScript('menuHeader2','menuSlider')">
</body>
</html>

