## -*- coding: utf-8 -*-
<%inherit file="pageSite.tmpl" />

<%def name="bodytitle()">
</%def>


<%def name="body()">
<div class="postbox thinedge">
  <h1>${story.title}</h1>
  <table width="100%">
  <tr>
    <py-eval="macros.feedBurner.banner()">
  </tr>
  </table>
  
  ${story.rendered}
  
  <div class="footerbox">
    Posted: ${str(story.pubDate)}&nbsp;&bull;&nbsp;
    ${macros.haloScan.comments(story)}&nbsp;&bull;&nbsp;
    ${macros.haloScan.trackback(story)}
    ${macros.feedBurner.flare(story)}<br>
    ${macros.delicious.tags(story)}<br>
    ${macros.addThis.bookmark(story)}
  </div>
</div>
</%def>

