## -*- coding: utf-8 -*-
<%inherit file="pageSite.tmpl" />

<%def name="bodytitle()">
    <h2>Categories:</h2>
</%def>

<%def name="body()">
% for cat in catlist:
    <div class="postbox thinedge">
        <h3><a href="${macros.absoluteUrl(cat.myurl())}">${cat.title}</a></h3>
        ${cat.description}
        <div class="footerbox">
            ${str(len(cat.posts))} posts and ${str(len(cat.stories))} stories in this category.
        </div>
    </div>
% endfor
</%def>
