<div class="postbox thinedge">
  <h1><py-eval="story.title"></h1>
  <table width="100%">
  <tr>
    <py-eval="macros.feedBurner.banner()">
  </tr>
  </table>
  
  <py-eval="story.rendered">
  
  <div class="footerbox">
    <py-eval="macros.haloScan.comments(story)">&nbsp;&bull;&nbsp;
    <py-eval="macros.haloScan.trackback(story)">
    <py-eval="macros.feedBurner.flare(story)"><br>
    <py-eval="macros.addThis.button()">
    Posted: <py-eval="str(story.pubDate)">
  </div>
</div>

